@import "@unocss/reset/tailwind-compat.css";

@unocss all;

a {
  text-decoration: unset;
}

html {
  overflow-y: scroll;
  overflow-x: hidden;
}

@screen md {
  * {
    transition-property: color;
    transition-timing-function: ease-in-out;
    transition-duration: 100ms;
  }
}

a:hover {
  color:black;
}

button:hover {
  color:black;
}

.dark button:hover {
  color: white;  
}

.dark a:hover {
  color: white;
}

.underline__a a {
  text-decoration: underline;
}

li {
  p {
    display: inline;
  }
}

ul {
  @apply list-list text-sm print:text-xs;
}
