@using Components.Resume.Sections
@model Section

<section id="@Model.Title.ToLower()" class="flex flex-col w-full" style="scroll-margin-top: 80px;">
    <a _="on click halt the event then writeText(my href) on navigator.clipboard" 
        href="#@Model.Title.ToLower()" 
        class="group flex gap-2 items-center"
        >
        <h2 class="text-xl uppercase py-2 font-900">@Model.Title</h2>
        <button class="group-hover:visible invisible text-sm i-carbon-link"></button>
    </a>
    <hr class="border-gray-7" />
    <div class="py-4 underline__a">
        @(await Html.RenderDynamicAsync(Model))
    </div>
</section>