@using Components.Resume
@using Components.Resume.Sections
@{
    ViewBag.Title = "Resume";

    var sections = new Section[] {
        new Summary(),
        new Experience(),
        new Education(),
        new Projects()
    };
}

<div class="flex items-start w-full h-full">
    <div class="flex gap-4">        
        <div class="max-md:hidden" style="min-width: 250px">
            <div class="p-4 pt-12 fixed flex flex-col gap-2" style="min-width: 250px;">
            @foreach (var x in sections)
            {
                <a _="on click halt the event 
                        then go to #@(x.Title.ToLower()) smoothly 
                        then call window.history.pushState({}, '', '#@(x.Title.ToLower())')" 
                target="_self" 
                href="#@x.Title.ToLower()">@x.Title</a>
            }
            </div>
        </div>
        <div class="flex flex-col w-full">
            @foreach (var x in sections)
            {
                @(await Html.RenderViewAsync<Section>(x))
            }
        </div>
    </div>
</div>