@using Components.Resume
@using Components.Resume.Sections
@model Experience

<div class="flex flex-col gap-4">
    @foreach (var job in Model.Jobs)
    {    
        @(await Html.RenderViewAsync(job))
    }
</div>