---
import Container from "@/components/Container.astro";
---

<div class="w-full flex flex-col justify-end items-center py-3 mt-auto">
    <Container>
        <div
            class="w-full flex max-sm:flex-col max-sm:justify-center justify-between items-center text-zinc-500"
        >
            <div>I am a footer.</div>
            <div>(and yes i know it says "I am a footer.")</div>
        </div>
    </Container>
</div>
