---
type Position = {
    title: string;
    time: string;
};
interface Props {
    position: Position;
    location: string;
    company: string;
    content: string;
}

import type { AstroComponentFactory } from "astro/runtime/server/index.js";
import Prose from "@/components/Prose.astro";
import Position from "./Position.astro";
import Markdown from "@/components/Markdown.astro";

const { position, company, location, content } = Astro.props;

const positions = Array.isArray(position) ? position : [position];
---

<div class="flex flex-col w-full gap-2">
    <div>
        <div class="flex justify-between">
            <div>
                {company}
            </div>
            <div>
                {location}
                <!-- {time} -->
            </div>
        </div>
        {positions.map((x) => <Position {...x} />)}
    </div>
    <Markdown content={content} />
</div>
