---
import Container from "@/components/Container.astro";
import SummaryText from "./SummaryText.md";
---

<div class="flex flex-col w-full gap-6">
    <div>
        <div>Nicholas Quandt</div>
        <div>Software Architect</div>
    </div>
    <div>
        <SummaryText />
    </div>
</div>
