@using Components
@{
    var univ = "Marquette University";
    var url = "https://www.marquette.edu/";
    var city = "Milwaukee, WI USA";
    var degrees = new[] { "2021 / M.S. in Computer Science", "2019 / B.S. in Mathematics" };
}

<bullets-sub-section bullets="degrees">
    <div class="flex flex-col">
        <a class="textPrimary" href="@url" target="_blank">
            <div class="text-xl font-bold">@univ</div>
        </a>
        <div class="text-md font-semibold">@city</div>
    </div>
</bullets-sub-section>

@* @(await Html.RenderViewAsync(new BulletsSubSection()
{
    Bullets = degrees,
    Header =
@
})) *@