@using Components
@model BulletsSubSection

<div class="flex flex-col w-full">    
    @Model.Header(null)    
    <div class="w-full pt-2">
        <ul>
            @foreach (var bullet in Model.Bullets)
            {
                <li>
                    @Html.Raw(Markdig.Markdown.ToHtml(bullet))
                </li>
            }
        </ul>
    </div>
</div>