@using Components
@using Microsoft.AspNetCore.Html
@{
    ViewBag.Title ??= "Master Layout";
}

<html lang="en" class="dark">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script type="text/javascript">
        const toggleTheme = (forceSet) => {
            const cl = document.documentElement.classList;
            forceSet ||= cl.contains('dark') ? 'light' : 'dark';
            cl.remove("dark", "light");
            cl.add(forceSet);

            localStorage.setItem("theme", forceSet);
        };

        const getTheme = () => {
            const currentTheme = localStorage.getItem("theme");
            if (currentTheme) {
                return currentTheme;
            }

            return window.matchMedia("(prefers-color-scheme: dark)") ? "dark" : "light";
        }

        window.toggleTheme = toggleTheme;

        const preferredTheme = getTheme() === "dark" ? "dark" : "light";
        toggleTheme(preferredTheme);
    </script>
    @* <link rel="stylesheet" href="/uno.css?" /> *@
    @* <link rel="stylesheet" href="/tailwind-compat.css?" /> *@
    <link rel="stylesheet" href="/app.css?" /> @*TODO figure out how to add hashes to css asset*@
    @* {assets} *@
    @RenderSection("Head", required: false)
    <base target="_blank">
    <script defer src="https://unpkg.com/hyperscript.org@0.9.13"></script>
    <script defer src="https://unpkg.com/htmx.org@2.0.4"
        integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+"
        crossorigin="anonymous"></script>
</head>

<body class="font-lato dark:text-gray-3 dark:bg-black light:bg-light light:text-gray-7">
    <main id="app" class="w-full h-full relative min-h-screen flex flex-col justify-between items-center">
        @(await Html.RenderViewAsync<Navbar>())
        @RenderBody()
        @(await Html.RenderViewAsync<Footer>())
        @* <Footer /> *@
    </main>
    @* {scripts} *@
</body>

</html>