@using Components
@using Microsoft.AspNetCore.Html
@{
    ViewBag.Title ??= "Layout";

    var wrapRender = (Func<IHtmlContent> d) =>
    {
        return (object? o) => d();
    };

    var ctx = this.Context.RequestServices.GetRequiredService<IHttpContextAccessor>().HttpContext;
    var x = ctx?.Request.Headers.TryGetValue("HX-Request", out var headers) == true ? headers[0] : "";
    Layout = x == "true" ? null : "_base";    
}

@section Head {
    <title>Quandt | @ViewBag.Title</title>
}

@if (Layout is null) {
    <title>Quandt | @ViewBag.Title</title>
}
<div id="inner" class="w-full flex flex-grow-1">
    @(await Html.RenderViewAsync(new Container() { Content = wrapRender(RenderBody) }))
</div>